.datepicker table tr td.day:hover, .datepicker table tr td.highlighted:hover {
    background-color: #ffffff;
    color: #000000
}

.datepicker table tr td.highlighted {
    background-color: #484848;
}

.datepicker table tr td.active {
    background-image: linear-gradient(0deg, #000000, #787878);
}

.datepicker table tr td.active:hover {
    background-image: linear-gradient(0deg, #ffffff, #ffffff);
    color: black;
}

.datepicker .datepicker-switch:hover, .datepicker .prev:hover, .datepicker .next:hover {
    background-color: #ffffff;
    color: #000000;
    border: #000000;
} 